.css-typing p {
    border-right: .15em solid orange;
    font-family: "Courier";
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
  }

  .title-text {
    font-size: 350%; 
    color: #0070FF;
  }

  .css-typing p:nth-child(1) {
    width: 15.3em;
    -webkit-animation: type 4s steps(400, end);
    animation: type 4s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(1) {
    width: 20.3em;
    -webkit-animation: type 4s steps(400, end);
    animation: type 4s steps(40, end);
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-left: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }